<h1>New reservation</h1>
<%= simple_form_for [@movie, @reservation] do |f| %>
  <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
